
/* Blog post images max width/height */
main > img {
    max-width: 50dvw;
    max-height: 50dvh;
}

/* Desktop/Tablet view resizing large image */
@media screen and (min-width: 600px) {
    main > img {
        max-width: 25dvw;    
}
}

/* Style inputs with type="text", select elements and textareas with padding, border and margin. */
input[type=text], select, textarea {
    width: 100%;
    padding: 14px;
    border: 2px solid var(--light-blue);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 12px; 
  }

  input[type=submit] {
    border-radius: 3px;
    width: 22%;
    height: 3dvh;
    border: 50px var(--light-blue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit]:hover {
    background-color: var(--light-cyan);
    /* color: white; */
}

.contactContainer {
    border-radius: 5px;
    background-color: var(--light-blue);
    padding: 20px;
}

/* Page heading title with background colour, padding text styling  */
.special-heading {
    background-color: var(--light-blue-600);
    border-radius: 0.7em;
    padding: 0.5em;
    font-size: 1.75em;
    color: var(--light-cyan);
}

/* Page heading title hover effect changes text and background-colour */
.special-heading:hover {
    background-color: var(--light-blue);
    color: var(--gunmetal);
}